/viikko2/Ohtu-NhlStatistics1/target/
/viikko2/Verkkokauppa1/target/
/viikko3/LoginEasyBv1/target/
/viikko4/TyhjaProjekti/target/
/viikko5/IntJoukkoSovellus/target/
/viikko5/Tennis/target/
/viikko6/QueryLanguage1/target/