/viikko2/Ohtu-NhlStatistics1/target/
/viikko2/Verkkokauppa1/target/
/viikko4/TyhjaProjekti/target/
/viikko5/MockitoDemo/target/
/viikko5/LyyrakorttiMockito/target/
/viikko2/Verkkokauppa4/nbproject/
/viikko2/Verkkokauppa4/target/
/viikko5/IntJoukkoSovellus/target/
/viikko5/Tennis/target/
/viikko6/Laskin/dist/