/viikko2/RiippuvuuksienInjektointi1/target/
/viikko2/RiippuvuuksienInjektointi2/target/
/viikko2/RiippuvuuksienInjektointi3/target/
/viikko2/Ohtu-NhlStatistics1/target/
/viikko2/Verkkokauppa1/target/
/viikko3/LoginEasyBv1/target/

*~
*#
/viikko5/MockitoDemo/target/
/viikko5/LyyrakorttiMockito/target/